@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/ChatGPT_Wx/statics/css/style.css" />
    <link href="/ChatGPT_Wx/Style.css" rel="stylesheet" />
    <script src="/ChatGPT_Wx/statics/js/flexible.js" type="text/javascript" charset="utf-8"></script>
    <script src="/ChatGPT_Wx/statics/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        .top .status {
            padding-top: 2.5rem;
        }
        .VIPtext {
            color: #b88f34;
            font-size: 14px;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div id="app" v-cloak>
        <div class="top">
            <!--标题-->
            <div class="title">
                <h3>会员中心</h3>
                <span class="more" @@click="more"></span>
                <div class="more-box" v-show="showMore">
                    <a @@click="onClickLeft">返回</a>
                </div>
            </div>
            <!--类型-->
            <div class="type">
                <ul>
                    <li class="active">精选</li>
                </ul>
            </div>
            <!--状态-->
            <div class="status">
                <span>&nbsp;</span>
                @*<p style="padding-top: 0.03rem;">*VIP：不限次数+单次对话字数200字以内+无上下文关联</p>
                <p style="padding-top:0px;padding-right:.5rem">*SVIP：不限次数+单次对话字数1000字左右+上下文关联+多款情景机器人</p>*@
            </div>
        </div>
        <!--精选会员卡列表-->
        <div class="card-list active">
            <div class="cate">
                <p class="active"><i></i>SVIP超级会员</p>
                <p><i></i>VIP会员</p>
            </div>
            <div class="list">
                <ul class="active">
                    <van-radio-group v-model="radio" style="display: flex;">
                        <li :class="radio==Item.ID?'active':''" v-for="(Item,Index) in CommodityList1" :key="Index">
                            <van-radio :name="Item.ID" shape="square">
                                <div class="title">{{Item.CommodityName}}</div>
                                <div class="desc">
                                    <p class="yh" v-show="Item.Explain">{{Item.Explain}}</p>
                                    <p class="money"><i>¥</i><span>{{(Item.CommodityPresentPrice/100).toFixed(2)}}</span></p>
                                    <p class="old">原价¥{{(Item.CommodityOriginalPrice/100).toFixed(2)}}</p>
                                </div>
                            </van-radio>
                        </li>
                    </van-radio-group>
                </ul>
                <ul>
                    <van-radio-group v-model="radio" style="display: flex;">
                        <li :class="radio==Item.ID?'active':''" v-for="(Item,Index) in CommodityList0" :key="Index">
                            <van-radio :name="Item.ID" shape="square">
                                <div class="title">{{Item.CommodityName}}</div>
                                <div class="desc">
                                    <p class="yh" v-show="Item.Explain">{{Item.Explain}}</p>
                                    <p class="money"><i>¥</i><span>{{(Item.CommodityPresentPrice/100).toFixed(2)}}</span></p>
                                    <p class="old">原价¥{{(Item.CommodityOriginalPrice/100).toFixed(2)}}</p>
                                </div>
                            </van-radio>
                        </li>
                    </van-radio-group>
                </ul>
            </div>
        </div>
        <!--特权-->
        <p class="VIPtext">*VIP：不限次数+单次对话字数200字以内+无上下文关联</p>
        <p class="VIPtext">*SVIP：不限次数+单次对话字数1000字左右+上下文关联+多款情景机器人</p>
        <!--开通会员-->
        <div class="submit">
            <van-button type="success" @@click="Pay" :disabled="ButtonEnable">立即开通</van-button>
        </div>
        <p class="tip" style="font-size: 14px; text-align: center; color: red;">会员服务为虚拟商品，支付成功后不支持退款</p>
    </div>
</body>

</html>
<script src="/ChatGPT_Wx/Global.js"></script>
<script>
    
</script>
<script>
    new Vue({
        el: '#app',
        data: {
            radio: 1,
            UserInfo: {},
            CommodityList1: [],
            CommodityList0: [],
            ButtonEnable: false,
            showMore: false,
        },
        methods: {
            more() {
                this.showMore = !this.showMore;
            },
            onClickLeft() {
                history.back();
            },
            async Pay() {
                try {
                    const that = this;
                    that.ButtonEnable = true;
                    const res = await AxiosPromise('/ChatGPT/Pay/DownOrder', 'post', {
                        ComID: this.radio
                    }, true);
                    const PayData = res.PayData;
                    const PayConfig = res.PayConfig;
                    const PayRes = await AxiosPromise('/WeChatHome/Pay', 'post', {
                        PayData: PayData,
                        PayConfig: PayConfig
                    });
                    const PayJson = JSON.parse(PayRes);
                    WeixinJSBridge.invoke(
                        'getBrandWCPayRequest', PayJson,//josn串
                        function (res) {
                            if (res.err_msg == "get_brand_wcpay_request:ok") {
                                //支付成功
                                history.back();
                            } else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                                vant.Notify({ type: 'primary', message: '支付取消' });
                                that.ButtonEnable = false;
                            } else {
                                that.ButtonEnable = false;
                                vant.Notify({ type: 'warning', message: '支付失败' + res.err_msg });
                            }
                        }
                    );
                } catch (err) {
                    alert(err);
                }
            },
            async GetCommodityList() {
                return await AxiosPromise('/ChatGPT/PayPage/GetCommodityList', 'get');
            }
        },
        created() {
            
        },
        async mounted() {
            // 超级会员，普通会员切换
            $('.card-list .cate p').click(function () {
                var index = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $(this).parents('.card-list').find('ul').removeClass('active').eq(index).addClass('active');
            })
            this.UserInfo = await window.APP_GetUserInfoAsync();
            const ResList = await this.GetCommodityList();
            ResList.forEach(item => {
                if (item.Type == 0) {
                    this.CommodityList0.push(item);
                } else {
                    this.CommodityList1.push(item);
                }
            })
        }
    })
</script>